 .calculator {
    width: 450px;
    height: 650px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }

  #display {
    font-size: 36px;
    color: rgb(5, 0, 0);
    width: full;
    height: 80px;
  }

  .btn {
    width: 5rem;
    height: 5rem;
  }

  button {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 50px;
    color: #fff;
    cursor: pointer;
  }

  #clear {
    background-color: #f44336;
  }

  #negative, #percentage, #divide, #multiply, #subtract, #add, #equals {
    background-color: #2196f3;
  }

  #seven, #eight, #nine, #four, #five, #six, #one, #two, #three, #zero, #decimal {
    background-color: #4caf50;
  }




